.groomers-block-container {
    text-align: center;
    padding-top: 80px;
}

.groomer-name {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #242851;
}

.groomer-name-description {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FF7751;
}

.groomers-block {
    background: #FFECE4;
    border-radius: 50px;
    margin-top: 155px;
    padding-bottom: 100px;
}

.groomer-card {
    background: #FFFFFF;
    border-radius: 146px;
    width: 292px;
    height: 385px;
    padding-top: 50px;
}

.groomers-cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


@media screen and (max-width: 1919px) and (min-width: 1400px) {
    .groomers-block-container {
        padding-top: 40px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1399px) {
    .groomers-cards {
        flex-wrap: wrap;
    }

    .groomer-card {
        margin-bottom: 63px;
    }

    .groomers-block {
        padding: 0;
        margin: 100px 40px;
    }

    .groomers-block-container {
        padding-top: 55px;
    }
}