.pet-care-title {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  color: #000000;
}

.pet-care-description {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #707283;
  margin-bottom: 50px;
}

.pet-care-button {
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
  box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3);
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 16px 35px;
}

.pet-care {
  display: flex;
  background: #FFECE4;
  border-radius: 50px;
  padding: 65px 100px 40px;
  margin-top: 100px;
}

.pet-care-wrapp {
  flex: 1;
  margin-left: 80px;
}

.pet-care-img {
  flex: 1;
  text-align: center;
  position: relative;
}

.element-10 {
  position: absolute;
  left: 80px;
}

.element-11 {
  position: absolute;
  top: 0;
  right: 170px;
}

.element-12 {
  position: absolute;
  top: 176px;
  left: 130px;
}

.dog3-gradient {
  position: absolute;
  left: 30px;
  top: -129px;
}

.dog-3 {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1919px) and (min-width: 1400px) {
  .pet-care {
    padding: 65px 55px 40px;
  }

  .pet-care-img {
    align-self: center;
  }

  .element-10 {
    left: 20px;
  }

  .element-11 {
    right: 120px;
  }

  .element-12 {
    left: 15px;
  }

  .dog3-gradient {
    right: -77px;
    left: unset;
  }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {

  .pet-care {
    display: block;
    margin: 100px 40px;
    padding: 40px 20px;
  }

  .pet-care-wrapp {
    margin: 0;
  }

  .pet-care-title {
    font-size: 48px;
    margin: 0;
  }

  .pet-care-description {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .dog-3 {
    width: 376px;
    height: 351px;
    margin-top: 45px;
  }

  .element-10 {
    width: 56px;
    height: 56px;
    left: 100px;
    top: 25px;
  }

  .element-11 {
    width: 68px;
    height: 70px;
    top: 16px;
    right: 196px;
  }

  .element-12 {
    top: 170px;
    left: 75px;
  }

  .dog3-gradient {
    width: 549px;
    height: 348px;
    left: 24px;
    top: 38px;
  }

}