.paws-description {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #242851;
}

.services-img {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.services {
    display: flex;
    margin-top: 155px;
}

.services-wrapp {
    flex: 1;
    position: relative;
    margin: 0 80px;
}

.flex-wrapp {
    display: flex;
    align-items: center;
}

.flex-wrapp img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.element6 {
    position: absolute;
    bottom: 660px;
    left: -45px;
}

.element7 {
    position: absolute;
    top: 400px;
    left: 100px;
}

.element8 {
    position: absolute;
    transform: rotate(40deg);
    top: 403px;
    right: 110px;
}

.element9 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 150px;
    right: 100px;
}

.img2 {
    z-index: 1;
}

.tablet {
    display: none;
}

@media screen and (max-width: 1919px) and (min-width: 1400px) {
    .services-img {
        align-items: flex-end;
    }

    .img2 {
        width: 413px;
        height: 480px;
    }

    .element7,
    .element8 {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1399px) {

    .desktop {
        display: none;
    }

    .tablet {
        display: block;
        width: 362px;
        height: 60px;
        align-self: center;
    }

    .services {
        flex-direction: column;
    }

    .cards-title-description {
        font-size: 48px;
        line-height: 50px;
    }

    .element7 {
        left: 55px;
        top: 370px;
    }

    .element8 {
        right: 75px;
        top: 370px;
    }

    .element9 {
        top: 200px;
        right: 50px;
        width: 75px;
        height: 75px;
    }

    .services-wrapp {
        margin-bottom: 105px;
    }

    .element6 {
        bottom: -150px;
    }

    .services-img {
        margin-bottom: 65px;
    }

    .img2 {
        width: 450px;
    }

}